<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/java2e" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademyproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AssignController</display-name>
    <servlet-name>AssignController</servlet-name>
    <servlet-class>AssignController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignController</servlet-name>
    <url-pattern>/AssignController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assigncontroller</display-name>
    <servlet-name>Assigncontroller</servlet-name>
    <servlet-class>Assigncontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assigncontroller</servlet-name>
    <url-pattern>/Assigncontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assigncontrollerr</display-name>
    <servlet-name>Assigncontrollerr</servlet-name>
    <servlet-class>AssignController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assigncontrollerr</servlet-name>
    <url-pattern>/Assigncontrollerr</url-pattern>
  </servlet-mapping>
</web-app>